.principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divLetras {
    width: 85vw;
    height: 20vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 55px;
}

.divLetras button {
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    font-size: 2vw;
}

.divJogo {
    width: 85vw;
    height: 60vh;
    /* background-color: aqua; */
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
}

.divComandos {
    width: 35vw;
    height: 100%;
    /* background-color: blue; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.divComandos button {
    width: 15vw;
    height: 5vh;
    position: absolute;
    color: #ffffff;
    background-color: #27ae60;
    top: 15vh;
    right: 5vw;
    font-size: 1.5vw;
    font-weight: 600;
    border-radius: 8px;
}

.divComandos input {
    font-size: 3vw;
    font-weight: 900;
    letter-spacing: 15px;
    margin-bottom: 5vh;
    width: 33vw;
    display: flex;
    text-align: center;
    border-style: none;
    background-color: #ffffff;
}

img {
    width: 25vw;
}

.escondido {
    visibility: hidden;
}

.jogoGanho {
    color: #27ae60;
}

.jogoPerdido {
    color: #ff0000;
}

.botaoHabilitado {
    background-color: #e1ecf4;
    color: #7aa7c7;
}